<!--Información del curso-->
<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/banner_dl.png">

<center><h1 style="font-size:2em;color:#2467C0">  Caso de estudio </h1></center>

<center><h4 style="font-size:2em;color:#840700">  Pasajeros del Titanic  </h4></center>

<br>
<table>
<col width="550">
<col width="450">
<tr>
<td><img src="figuras/titanic.jpg" align="middle" style="width:500px"/></td>
<td align="left-align">

EL **Titanic** fue un transatlántico británico, el mayor barco del mundo al finalizar su construcción, que se hundió en la noche del 14 a la madrugada del 15 de abril de 1912 durante su viaje inaugural desde Southampton a Nueva York. Solo sobrevivieron 711 de las 2208 personas que iban a bordo (contando pasajeros y tripulación)

En este ejemplo, analizaremos información de los pasajeros del Titanic utilizando la librerá Pandas.

    
<br>
</td>
</tr>
</table>

# Librerías

Cargamos las bibliotecas que necesitamos

In [1]:
import csv
import matplotlib.pyplot as plt

# Cargamos los datos

In [ ]:
#Leer el archivo datos/titanic.csv

Descripción de las columnas : 
* Survival - Supervivencia  (0 = No; 1 = Si).  
* Pclass - Clase (1 = 1st; 2 = 2nd; 3 = 3rd)
* Name - Nombre
* Sex - Sexo
* Age - Edad
* Sibsp - Número de hermanos / cónyuges a bordo
* Parch - Número de padres / niños a bordo
* Ticket - Número de ticket
* Fare - Tarifa 
* Cabin - Número de cabina
* Embarked - Puerto de embarque (C = Cherbourg; Q = Queenstown; S = Southampton)

In [1]:
import csv

<div class="alert alert-info">
 <ul>
  <li>Encuentre el número de pasajeros</li>
</ul> 

</div>

In [3]:
contador_personas=0

<div class="alert alert-info">
 <ul>
  <li>Encuentre el número de sobrevivientes</li>
</ul> 

</div>

In [4]:
contador_sobrevivientes=0

<div class="alert alert-info">
 <ul>
  <li>Encuentre el numero de pasajeros por clase </li>
</ul> 

</div>

In [5]:
contador_C1=0
contador_C2=0
contador_C3=0

<div class="alert alert-info">
 <ul>
  <li>Encuentre el numero de pasajeros que tengan como nombre o apellido el string 'William'</li>
</ul> 

</div>

In [6]:
contador_William=0

<div class="alert alert-success">
 <ul>
  <li>1. Encuentre el número de mujeres y hombres. ¿Cuál era la probabilidad de supervivencia de una persona? ¿Cuál era la probabilidad de supervivencia de un hombre y el de una mujer?</li>
</ul> 

</div>

<div class="alert alert-success">
 <ul>
  <li>2. ¿Cuál era la edad promedio?¿Cual era la edad de la persona más grande y la de la más joven? ¿Cuáles eran las edades de las 5 personas mas grandes?.  </li>
</ul> 

</div>

<div class="alert alert-success">
 <ul>
  <li> 3. ¿Cuál era la probabilidad de supervivencia de alguien menor a 25 años?  </li>
</ul> 

</div>

<div class="alert alert-success">
 <ul>
  <li> 4. Encuentre en número de personas que embarcaron en Cherbourg, Queenstown y en Southampton.  </li>
</ul> 

</div>

<div class="alert alert-success">
 <ul>
  <li> 5. Con los datos del ejercicio anterior haga una grafica de barras </li>
</ul> 

</div>

<div class="alert alert-success">
 <ul>
  <li> 6. ¿Cuál hubiera sido la ganancia total? Considere que el día del embarque se le pedía un impuesto a cada tripulante dependiendo de su clase (3era = 0.5 pounds, 2da = 15 pounds, 1era=40 pounds).  Defina una función llamada conversión que reciba dos parámetros (la clase y el costo del ticket) y  regrese el costo actual (USD). Exprese su resultados en USD  </li>
</ul> 

</div>

<div class="alert alert-success">

 <ul>
  <li>7. ¿Cuál es la distribución por edad de los pasajeros de manera general, así como para hombres y mujeres? (Usando histogramas)</li>
</ul> 

</div>

<div class="alert alert-success">
 
 <ul>
  <li> 8. ¿Cómo difiere la tasa de supervivencia entre las diferentes clases del Titanic?</li>
</ul> 

</div>



<div class="alert alert-warning">

**Todas las funciones necesarias para analizar datos como los del ejemplo anterior, se explicarán a lo largo de esta unidad dedicada a la librería Pandas**

</div>

<img align="left" width="800"  float= "none" align="middle" src="figuras/titanic2.png">